/* All styles for your header Components live here */
.header-container {
  display: flex;
}

.image-thumbnail-div {
  background: black;
  border-radius: 50%;
}

.image-thumbnail {
  margin: 15px;
  width: 40px;
}

.header-title span {
  padding: 5px;
}

.header-title span:nth-child(2),
.header-title span:nth-child(3) {
  color: gray;
  font-size: 14px;
}