/* All styles for your header Components live here */
.header-container {
  display: flex;
}

.image-thumbnail-div {
  background: black;
  border-radius: 50%;
}

.image-thumbnail {
  margin: 15px;
  width: 40px;
}