.number-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .5px solid black;
  background: white;
  color: black;
  width: 25%;
  font-weight: bold;
  font-size: 20px;
}

.symbol-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .5px solid black;
  background: rgb(131, 21, 21);
  color: white;
  width: 25%;
  font-size: 30px;
}

.clear-button, 
.zero-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .5px solid black;
  background: white;
  color: black;
  width: 75%; 
}

.clear-button {
  font-size: 25px;
  font-weight: 300;
}

.zero-button {
  font-weight: bold;
  font-size: 20px;
}