.number-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .5px solid black;
  background: white;
  color: black;
  width: 25%;
}

.symbol-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .5px solid black;
  background: rgb(131, 21, 21);
  color: white;
  width: 25%;
}